<hmtl>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>
 <body>
     <div>
         <p>{{'proyecto.label.hello'|trans}},</p>
         <p>{{'proyecto.text.request_pass'|trans}}</p>
         <p><a href="{{url}}">{{'proyecto.label.request_pass'|trans}}</a></p>
         <br/>
         <p>{{'proyecto.text.request_pass_error'|trans}}</p>
     </div>
 </body>
</hmtl>