<!--Header-->
{% set route = app.request.attributes.get('_route') %}
<div id="before-header" class="rockthemes-before-header intro-effect-slide"></div>
<!-- /End of Before Header Area --><!-- Main Header Area -->
<div class="header-all-wrapper azoom-transition header-model-1">
    <div id="welcome" class="header-top-2   not-visible">
        <div class="row">
            <div class="large-12 columns">
                <div class="row">
                    <div class="large-6 medium-6 small-12  text-overflow columns header-top-2-font-size header-social-line-height header-contact-info centered-text-responsive">
                        <span>
                            <strong> Call Us:</strong> +1 555 5 555 |
                            <strong> Email : </strong>
                            <a href="mailto:info@rockthemes.net">info@rockthemes.net</a>
                        </span>
                    </div>
                    <div class="large-6 medium-6 small-12 columns right-text centered-text-responsive header-top-2-responsive-inline-block social-no-margin wpml-in-ht2">
                        <div class="header-social-container">
                            <div id="rock-social-icons-1" class="social-icon icon-group-container">
                                <div class="rock-social-icon">
                                    <a href="http://www.facebook.com" target="_blank">
                                        <div class="social-icon-container azoom-transition-fast">
                                            <i class="icomoon icomoon-icon-facebook social-icon-regular"></i>
                                            <i class="icomoon icomoon-icon-facebook social-icon-hover"></i>
                                        </div>
                                    </a>
                                </div>
                                <div class="rock-social-icon">
                                    <a href="http://www.twitter.com" target="_blank">
                                        <div class="social-icon-container azoom-transition-fast">
                                            <i class="icomoon icomoon-icon-twitter social-icon-regular"></i>
                                            <i class="icomoon icomoon-icon-twitter social-icon-hover"></i>
                                        </div>
                                    </a>
                                </div>
                                <div class="rock-social-icon">
                                    <a href="http://www.youtube.com" target="_blank">
                                        <div class="social-icon-container azoom-transition-fast">
                                            <i class="icomoon icomoon-icon-youtube social-icon-regular"></i>
                                            <i class="icomoon icomoon-icon-youtube social-icon-hover"></i>
                                        </div>
                                    </a>
                                </div>
                                <div class="rock-social-icon">
                                    <a href="http://www.dribbble.com" target="_blank">
                                        <div class="social-icon-container azoom-transition-fast">
                                            <i class="icomoon icomoon-icon-dribbble social-icon-regular"></i>
                                            <i class="icomoon icomoon-icon-dribbble social-icon-hover"></i>
                                        </div>
                                    </a>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div  class="sticky-header-wrapper  not-visible">
        <div  class="main-header-area  menu-box-shadow not-visible header-top-1 header-sticky">
            <div class="row header-row">
                <div class="logo-main-wrapper left-text">
                    <div class="logo-animation-container">
                        <div class="logo-container">
                            <a href="/" title="ConversationQuest">
                                <img src="{{ asset('azoomtheme/images/demo/azoom-wordpress-business-theme.png') }}" srcset="{{ asset('azoomtheme/images/demo/azoom-wordpress-business-theme.png') }} 1x, {{ asset('azoomtheme/images/demo/azoom-wordpress-business-theme@2x.png') }} 2x" alt="ConversationQuest" width="250" height="60"  style="max-width:250px; max-height:60px; width:100%;" />
                            </a>
                        </div>
                        <div class="sticky-logo-container">
                            <a href="/" title="ConversationQuest">
                                <img src="{{ asset('azoomtheme/images/demo/azoom-wp-theme-sticky.png') }}" srcset="{{ asset('azoomtheme/images/demo/azoom-wp-theme-sticky.png') }} 1x, {{ asset('azoomtheme/images/demo/azoom-wp-theme-sticky@2x.png') }} 2x" alt="Shuttle Bus" width="225" height="23"  style="max-width:225px; max-height:23px; width:100%;" />
                            </a>
                        </div>
                    </div>
                </div>
                <div class="nav-main-wrapper right-text-responsive">
                    <nav id="rtm-navigation" class="navigation main-navigation" role="navigation">
                        <div id="nav" class="menu-main-navigation-container">
                            <ul id="menu-main-navigation" class="nav-menu rtm-menu rtm-menu">
                                <li id="menu-item-4422" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-4325 current_page_item menu-item-has-children regularmenu  show-label rtm-menu-depth-0 " >
                                    <a href="/">
                                        <span class="main-nav-item-title main-title-with-desc">Inicio</span>
                                    </a>
                                </li>

                                <li id="menu-item-4342" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children regularmenu  show-label rtm-menu-depth-0" >
                                    <a href="#">
                                        <span class="main-nav-item-title main-title-with-desc">Productos</span>
                                    </a>
                                    <ul class="sub-menu">
                                        <li id="menu-item-4385" class="menu-item menu-item-type-post_type menu-item-object-page regularmenu  show-label rtm-menu-depth-1 " >
                                            <a href="#"><span class="main-nav-item-title main-title-with-desc">Producto 1</span>
                                            </a>
                                        </li>
                                        <li id="menu-item-4386" class="menu-item menu-item-type-post_type menu-item-object-page regularmenu  show-label rtm-menu-depth-1 " >
                                            <a href="#shop-masonry/">
                                                <span class="main-nav-item-title main-title-with-desc">Producto 2</span>
                                            </a>
                                        </li>
                                        <li id="menu-item-4387" class="menu-item menu-item-type-post_type menu-item-object-page regularmenu  show-label rtm-menu-depth-1 " >
                                            <a href="#shop-wall-mode/">
                                                <span class="main-nav-item-title main-title-with-desc">Producto 3</span>
                                            </a>
                                        </li>
                                        <li id="menu-item-4382" class="menu-item menu-item-type-post_type menu-item-object-page regularmenu  show-label rtm-menu-depth-1 " >
                                            <a href="#">
                                                <span class="main-nav-item-title main-title-with-desc">Producto 4</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>


                                <li id="menu-item-4342" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children regularmenu  show-label rtm-menu-depth-0 " >
                                    <a href="#">
                                        <span class="main-nav-item-title main-title-with-desc">Soluciones</span>
                                    </a>
                                    <ul class="sub-menu">
                                        <li id="menu-item-4385" class="menu-item menu-item-type-post_type menu-item-object-page regularmenu  show-label rtm-menu-depth-1 " >
                                            <a href="#">
                                                <span class="main-nav-item-title main-title-with-desc">Solucion 1</span>
                                            </a>
                                        </li>
                                        <li id="menu-item-4386" class="menu-item menu-item-type-post_type menu-item-object-page regularmenu  show-label rtm-menu-depth-1 " >
                                            <a href="#shop-masonry/">
                                                <span class="main-nav-item-title main-title-with-desc">Solucion 2</span>
                                            </a>
                                        </li>
                                        <li id="menu-item-4387" class="menu-item menu-item-type-post_type menu-item-object-page regularmenu  show-label rtm-menu-depth-1 " >
                                            <a href="#shop-wall-mode/">
                                                <span class="main-nav-item-title main-title-with-desc">Solucion 3</span>
                                            </a>
                                        </li>
                                        <li id="menu-item-4382" class="menu-item menu-item-type-post_type menu-item-object-page regularmenu  show-label rtm-menu-depth-1 " >
                                            <a href="#">
                                                <span class="main-nav-item-title main-title-with-desc">Solucion 4</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                                <li id="menu-item-4342" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children regularmenu  show-label rtm-menu-depth-0 " >
                                    <a href="#">
                                        <span class="main-nav-item-title main-title-with-desc">Planes</span>
                                    </a>
                                    <ul class="sub-menu">
                                        <li id="menu-item-4385" class="menu-item menu-item-type-post_type menu-item-object-page regularmenu  show-label rtm-menu-depth-1 " >
                                            <a href="{{ path('usuario_create', {'plan' : 1}) }}">
                                                <span class="main-nav-item-title main-title-with-desc">Gratuito</span>
                                            </a>
                                        </li>
                                        <li id="menu-item-4386" class="menu-item menu-item-type-post_type menu-item-object-page regularmenu  show-label rtm-menu-depth-1 " >
                                            <a href="{{ path('usuario_create', {'plan' : 2}) }}">
                                                <span class="main-nav-item-title main-title-with-desc">Profesional</span>
                                            </a>
                                        </li>
                                        <li id="menu-item-4387" class="menu-item menu-item-type-post_type menu-item-object-page regularmenu  show-label rtm-menu-depth-1 " >
                                            <a href="{{ path('usuario_create', {'plan' : 3}) }}">
                                                <span class="main-nav-item-title main-title-with-desc">Enterprise</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>


                                <li id="menu-item-4342" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children regularmenu  show-label rtm-menu-depth-0 " >
                                    <a href="#">
                                        <span class="main-nav-item-title main-title-with-desc">Servicios</span>
                                    </a>
                                    <ul class="sub-menu">
                                        <li id="menu-item-4385" class="menu-item menu-item-type-post_type menu-item-object-page regularmenu  show-label rtm-menu-depth-1 " >
                                            <a href="#">
                                                <span class="main-nav-item-title main-title-with-desc">Profesionales</span>
                                            </a>
                                        </li>
                                        <li id="menu-item-4386" class="menu-item menu-item-type-post_type menu-item-object-page regularmenu  show-label rtm-menu-depth-1 " >
                                            <a href="#shop-masonry/">
                                                <span class="main-nav-item-title main-title-with-desc">Educacion</span>
                                            </a>
                                        </li>
                                        <li id="menu-item-4387" class="menu-item menu-item-type-post_type menu-item-object-page regularmenu  show-label rtm-menu-depth-1 " >
                                            <a href="#shop-wall-mode/">
                                                <span class="main-nav-item-title main-title-with-desc">Programas para patners</span>
                                            </a>
                                        </li>
                                        <li id="menu-item-4387" class="menu-item menu-item-type-post_type menu-item-object-page regularmenu  show-label rtm-menu-depth-1 " >
                                            <a href="#shop-wall-mode/">
                                                <span class="main-nav-item-title main-title-with-desc">Soporte</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li id="menu-item-4422" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children regularmenu  show-label rtm-menu-depth-0 " >
                                    <a href="/">
                                        <span class="main-nav-item-title main-title-with-desc">Sobre Nosotros</span>
                                    </a>
                                </li>
                                <li id="menu-item-4422" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-4325 current_page_item menu-item-has-children regularmenu  show-label rtm-menu-depth-0 menu-item dismiss-mobile azoom-ajax-search-menu-item" >
                                    <a href="#planes">
                                        <span class="main-nav-item-title main-title-with-desc">Registro</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav><!-- #site-navigation -->
                </div>
            </div>
        </div>
    </div>
</div>
<a class="style-switcher-btn btn btn-primary">
    <i class="icon-share hidden-xs"></i>
</a>
<div class="style-switcher frm-registro gradient-inverted animated fadeInRight">
    <div class="style-swticher-header">
        <div class="style-switcher-heading">Empieza ahora Gratis!</div>
        <div class="theme-close"><i class="icon-close"></i></div>
    </div>

    <div class="style-swticher-body">

        <form role="form" class="fly-form" action="{{path('usuario_create', {'plan' : 1})}}" method="post" style="display: none;">

            <a style="margin-right: 15px;margin-left: 60px;" class="escapea button azoom-transition button-pill button-darkblue">
                <span class="glyphicon1-user-add"></span> Crear Cuenta
            </a>

            <div class="center padding10 terminos">He leido y acepto los <a href="#">términos de uso</a></div>

            <h4 class="center"><a href="#" onclick="jQuery('.fly-form').toggle();">Iniciar sesión con una red social</a></h4>
        </form>
        <div class="fly-form">
                <a class="btn btn-success btn-red twitter" onclick="openAuth('twitter',1,this,true)">
                    <span class="icomoon icomoon-icon-twitter social-icon-regular" ></span>
                    Inicia sesión con Twitter
                </a>

                <a class="btn btn-primary btn-red facebook" onclick="openAuth('facebook',2,this,true)"><span class="icomoon icomoon-icon-facebook social-icon-regular" ></span> Inicia sesión con Facebook</a>

            <a class="btn btn-danger btn-red google" onclick="openAuth('google',3,this,true)"><span class="icomoon icomoon-icon-googleplus social-icon-regular" ></span> Inicia sesión con Google</a>
            <a  class="btn btn-info btn-blue linkedin" onclick="openAuth('linkedin',4,this,true)"><span class="icomoon icomoon-icon-linkedin social-icon-regular" ></span> Inicia sesión con Linkedin</a>
            <a  class="btn btn-info btn-blue wordpress" onclick="openAuth('wordpress',5,this,true)"><span class="icomoon icomoon-icon-wordpress social-icon-regular" ></span> Inicia sesión con Wordpress</a>
            <a  class="btn btn-info btn-blue instagram" onclick="openAuth('instagram',6,this,true)"><span class="icomoon icomoon-icon-instagram social-icon-regular" ></span> Inicia sesión con Instagram</a>
            <a  class="btn btn-info btn-blue pinterest" onclick="openAuth('pinterest',7,this,true)"><span class="icomoon icomoon-icon-pinterest social-icon-regular" ></span> Inicia sesión con Pinterest</a>
            <div class="center padding10 terminos">He leido y acepto los <a href="#">términos de uso</a></div>

            <h4 class="center">
                <span class="glyphicon1-user-add" style="color: #4dbc84;"></span>
                <a href="{{ path('usuario_login') }}" onclick="jQuery('.fly-form').toggle();"> Entrar</a>
            </h4>
        </div>
    </div>
</div>
<div style="display: none !important;" class="frm-registro gradient-inverted animated fadeInRight">
    <h3 class="center">Empieza ahora Gratis!</h3>
    <form role="form" class="fly-form" action="{{path('usuario_create', {'plan' : 1})}}" method="post" style="display: none;">

        <button class="btn btn-primary"><span class="glyphicon1-user-add"></span> Crear Cuenta</button>

        <div class="center padding10 terminos">He leido y acepto los <a href="#">términos de uso</a></div>

        <h4 class="center"><a href="#" onclick="jQuery('.fly-form').toggle();">Iniciar sesión con una red social</a></h4>
    </form>
    <div class="fly-form">
        <div><button class="btn btn-success btn-red twitter" onclick="openAuth('twitter',1,this,true)"><span class="glyphicon1-twitter" ></span> Inicia sesión con Twitter</button></div>
        <div><button class="btn btn-primary btn-red facebook" onclick="openAuth('facebook',2,this,true)"><span class="glyphicon1-facebook" ></span> Inicia sesión con Facebook</button></div>
        <div><button class="btn btn-danger btn-red" onclick="openAuth('google',3,this,true)"><span class="glyphicon1-googleplus" ></span> Inicia sesión con Google</button></div>
        <div><button  class="btn btn-info btn-blue linkedin" onclick="openAuth('linkedin',4,this,true)"><span class="glyphicon1-linkedin" ></span> Inicia sesión con Linkedin</button></div>
        <div><button  class="btn btn-info btn-blue wordpress" onclick="openAuth('wordpress',5,this,true)"><span class="glyphicon1-wordpress" ></span> Inicia sesión con Wordpress</button></div>
        <div><button  class="btn btn-info btn-blue instagram" onclick="openAuth('instagram',6,this,true)"><span class="glyphicon1-instagram" ></span> Inicia sesión con Instagram</button></div>
        <div><button  class="btn btn-info btn-blue pinterest" onclick="openAuth('pinterest',7,this,true)"><span class="glyphicon1-pinterest" ></span> Inicia sesión con Pinterest</button></div>
        <div class="center padding10 terminos">He leido y acepto los <a href="#">términos de uso</a></div>

        <h4 class="center"><span class="glyphicon1-user-add" style="color: #4dbc84;"></span> <a href="#" onclick="jQuery('.fly-form').toggle();"> Crear una Cuenta</a></h4>
    </div>




</div>